<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>Adicionar produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<form #produtoForm='ngForm'(ngSubmit)="saveProduto(produtoForm)">

		<ion-item>
			<ion-icon name="pricetag" slot="start"></ion-icon>
			<ion-label>Nome do Produto</ion-label>
			<ion-input name="name" type="text" ngModel required></ion-input>
		</ion-item>

		<ion-item>
			<ion-icon name="images" slot="start"></ion-icon>
			<ion-label>Fotografia</ion-label>
			<ion-input name="icon" type="text" placeholder="https://..."></ion-input>
		</ion-item>

		<ion-item>
			<ion-icon name="stats" slot="start"></ion-icon>
			<ion-label>Quantidade</ion-label>
			<ion-input name="quantidade" type="number" ngModel required pattern=\d*$></ion-input>
		</ion-item>

		<ion-item>
			<ion-icon name="funnel" slot="start"></ion-icon>
			<ion-label>Unidade</ion-label>
			<ion-input name="unidade" type="text" placeholder="Litros, kg, etc"></ion-input>
		</ion-item>

	

		<div padding>
			<ion-button size = "large" type="submit" [disabled]="produtoForm.invalid" expand="block">Adicionar</ion-button>
		</div>

	</form>


</ion-content>
