<ion-header>
  <ion-toolbar>
    <ion-title>Lista</ion-title>
    <ion-fab routerLink='/add-produto' routerDirection="forward" vertical="top" horizontal="end" >
		<ion-button color="warning" fill="clear">
			<ion-icon name="add"></ion-icon>
		</ion-button>
	</ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-searchbar (ionChange)="onSearchInputChanged($event)"></ion-searchbar>
	<ion-list>
		<ion-item-sliding *ngFor="let produto of produtos">
			<ion-item>
				<ion-thumbnail slot="start" class ="produto-cover">
					<img src="{{produto.icon}}">
				</ion-thumbnail>
				<ion-label text-wrap>
					<ion-text>
						<h2>{{produto.name}}</h2>
					</ion-text>
					<ion-text>
					<p>{{produto.quantidade}} {{produto.unidade}}</p>
					</ion-text>

				</ion-label>

				<ion-toggle color="warning" slot="end" [(ngModel)]="produto.bought"></ion-toggle>
				
			</ion-item>

			<ion-item-options side="start">
				<ion-item-option color="danger" (click)="toggleRemove(produto)">
					<ion-text>Remover</ion-text>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

	
</ion-content>
